
/* body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 20px;
    border: 2px solid black;
} */
body {
    font-family: 'Poppins', sans-serif;
  }

.container > header{
    padding: 40px;
}
/* #intro{
    background-color: #E8FC00;
    width: 22%;
} */
#intro {
    display: inline;
    background-color: #E8FC00;
}
.container {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    width: 98%;
    margin-bottom: 50px;
    height: 1060px;
}
.content{
    border: 2px solid ;
    border-left: none;
    border-right: none;
    padding: 40px ;
}
.content > h3{
    display: inline;
}
.content > p{
    display: inline;
}
#span-1{
    font-weight: 10;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.above-footer h3{
    display: inline;
}
.above-footer p{
    display: inline;
}
.above-footer{
    padding: 30px 0px 0px 30px;
}

.footer-mudcy{
    display: flex;
    justify-content: flex-end;
}

.number{
    border: 2px solid;
    width: 30px;
    text-align: center;
    border-radius: 80px;
}

